In [ ]:
#Task 1 :Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.
x=list(map(int,input("Enter the number separated by commas: ").split(",")))
print("="*50)
print("List: ",x)
print("="*50)
print("Tuple: ",tuple(x))
print("="*50)

In [ ]:
#TASK2:  Write a Python program to display the first and last colors from the following list.
x=list(input("Enter the COLORS SEPARATED BY COMMAS: ").split(","))
print("="*50)
print("First color: ",x[0],"\nlast color: ",x[-1])
print("="*50)

In [ ]:
#Task 3:  Write a Python program that checks whether a specified value is contained within a group of values.
x=input("Enter the test values separated by commas: ").split(",")
y=input("Enter the values to be tested separated by commas: ").split(",")
print("="*50)
for value in y:
    if value in x:
        print(True)
    else:
        print(False)
print("="*50)

In [ ]:
#Task 3: Write a Python program to print all odd numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
oddnumbers=[]
for x in numbers:
    if x%2!=0:
        oddnumbers.append(x)
    if x==237:
        break
print(oddnumbers)

In [ ]:
#Task5: Write a Python program that prints out all colors from color_list_1 that are not present in color_list_2.
x=set(list(input("Enter the colors in list 1 separated by comma: ").split(",")))
y=set(list(input("Enter the colors in list 2 separated by comma: ").split(",")))
z=x.difference(y)
print("="*50)
print("Colors present in list 1 but not in list 2 are: ",z)
print("="*50)

In [13]:
x = int(input("Enter the numbers separated by commas: "))
while True:
    reversed_number=int(str(x)[::-1])
    number+=reversed_number
    print("Original Sum: ",number)

ValueError: invalid literal for int() with base 10: '12,34'

In [16]:
dict1={"Bernita Ahner": 12, "Kristie Marsico": 11, "Sara Pardee": 14, "Fallon Fabiano": 11, "Nidia Dominique": 15}
dict2={"Nilda Woodside": 12, "Jackelyn Pineda": 12.2, "Sofia Park": 12.4, "Joannie Archibald": 12.6, "Becki Saunder": 12.7}
max1=max(dict1.values())
max2=max(dict2.values())
maxkey1=[keys for keys,values in dict1.items() if values==max1]
maxkey2=[keys for keys,values in dict2.items() if values==max2]
print(maxkey1,"\n",maxkey2)

['Nidia Dominique']
 ['Becki Saunder']

In [ ]:
x=set(input("Enter the pair of numbers separated by commas").split(","))
for numbers in x:
    if numbers%1==0 and numbers